/* styles.css */

/* Importante: Estas cores sobrescrevem o tema 'journal' para a navbar */

/* Fundo da barra de navegação (topo do site) */
.navbar {
  background-color: #800020; /* Cor vinho */
}

/* Cor do texto dos links na barra de navegação */
.navbar-dark .navbar-nav .nav-link {
  color: white; /* Texto branco para contrastar com o vinho */
}

/* Cor do texto do título do site na barra de navegação */
.navbar-dark .navbar-brand {
  color: white; /* Título do site branco */
}

/* Cor do texto dos links ao passar o mouse */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f5f5f5; /* Um branco bem suave ao passar o mouse */
}
